*.dcu
*.dsk
*.identcache
__history/
*.bdsproj.local
*.bdsgroup.local
ModelSupport/
contents/
*.[0-9]+[a-z]+

# Xcode
build/*
*.pbxuser
*.mode1v3

# Subversion
.svn

# OS X
.DS_Store

# Textmate
*.tmproj 

# vim
*.swp

# Windows
Thumb.db

# Sass
.sass-cache

# Dreamweaver
dwsync.xml
_notes/
