<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
<meta charset="UTF-8" />
<title>HTML 5 template</title>
<meta name="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta property="og:title" content="" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://example.com/" />
<meta property="og:image" content="http://example.com/img/og.png" />
<meta property="fb:admins" content="" />
<meta property="og:description" content="" />
<link rel="stylesheet" href="/css/style.css" />
<script src="/js/modernizr.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
<script src="/js/loader.js"></script>
</head>
<body>
<p>Hello from JS Bin with HTML5 sauce</p>
</body>
</html>

<!-- =================================================================== -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>XHTML 1.0 Transitional(XML宣言無)</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
<script src="/js/modernizr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
<script> if (!window.jQuery) { document.write('<script src="jquery-1.7.2.min.js"><' + '/script>'); } </script>
<style type="text/css" media="screen,tv,projection">
/*<![CDATA[*/
/*]]>*/
</style>
<script type="text/javascript">
//<![CDATA[
//]]>
</script>
</head>
<body>
	<p>XHTML 1.0 Transitional(XML宣言無)</p>
	<p>encoding: UTF-8</p>
	<script type="text/javascript">
	//<![CDATA[
	//]]>
	</script>
	<div id="container">
		<div id="header">
			<!--/#header-->
		</div>
		<hr />
		<div id="content">
			<dl id="topic-path">
				<dt>現在位置</dt>
				<dd><a href="/">ホーム</a> &gt; </dd>
			</dl>
			<div id="alpha">

				<!--/#alpha-->
			</div>
			<div id="beta">

				<!--/#beta-->
			</div>
			<!--/#content-->
		</div>
		<hr />
		<div id="footer">
			<!--/#footer-->
		</div>
		<!--/#container-->
	</div>
</body>
</html>


<!-- =================================================================== -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="">
<meta name="description" content="">
<title>HTML 4.01 Transitional(システム識別子有)</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" media="all">
<!--[if IE]><link rel="stylesheet" type="text/css" href="/css/browser_ie.css" media="all"><![endif]-->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<style type="text/css" media="screen,tv,projection">
<!--
-->
</style>
<script type="text/javascript">
<!--
//-->
</script>
</head>
<body>
	<p>HTML 4.01 Transitional(システム識別子有)</p>
	<p>encoding: UTF-8</p>
	<script type="text/javascript">
	<!--
	//-->
	</script>

	<div id="container">
		<div id="header">
			<!--/#header-->
		</div>
		<hr />
		<div id="content">
			<dl id="topic-path">
				<dt>現在位置</dt>
				<dd><a href="/">ホーム</a> &gt; </dd>
			</dl>
			<div id="alpha">

				<!--/#alpha-->
			</div>
			<div id="beta">

				<!--/#beta-->
			</div>
			<!--/#content-->
		</div>
		<hr />
		<div id="footer">
			<!--/#footer-->
		</div>
		<!--/#container-->
	</div>
</body>
</html>


<!-- =================================================================== -->

