doctype html
  html(lang="ja")
    head
      meta(charset="UTF-8")
      block title
        title HTML Template
      meta(name="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width")
      meta(name="keywords", content="")
      meta(name="description", content="")
      meta(property="og:title", content="")
      meta(property="og:type", content="website")
      meta(property="og:url", content="http://example.com/")
      meta(property="og:image", content="http://example.com/img/og.png")
      meta(property="fb:admins", content="")
      meta(property="og:description", content="")
      link(rel="stylesheet", href="/css/style.css")
      script(src="/js/script.js")
      block head
  body
    block body
      div
